
body{
    margin: 0;;
}

#Menu{
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
#head1{
    width: 200px;
    font-size: 35px;
    background-color: red;
    float: right;
    padding: 2px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
}
#Box1{
    margin: 50px;
    /* margin-top: 50px; */
    border: 5px solid black;
    /* margin-left: 30px; */
    background-color: grey;
    height: 250px;
    width: 345px;
}
#content{
    padding: 15px;
    clear: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#head2{
    width: 200px;
    font-size: 35px;
    background-color: red;
    float: right;
    padding: 2px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
}
#Box2{
    margin: 50px;
    /* margin-top: 50px; */
    border: 5px solid black;
    /* margin-left: 30px; */
    background-color: grey;
    height: 250px;
    width: 345px;
}
#content2{
    padding: 15px;
    clear: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#head3{
    width: 200px;
    font-size: 35px;
    background-color: red;
    float: right;
    padding: 2px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
}
#Box3{
    margin: 50px;
    /* margin-top: 50px; */
    border: 5px solid black;
    /* margin-left: 30px; */
    background-color: grey;
    height: 250px;
    width: 345px;
}
#content3{
    padding: 15px;
    clear: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 600px){
    
body{
    margin: 0;;
}

#Menu{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
#container{
    display: flex;
    flex-wrap: wrap;
}
#head1{
    width: 100px;
    font-size: 25px;
    background-color: red;
    float: right;
    padding: 2px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
}
#Box1{
    margin-top: 50px;
    border: 5px solid black;
    margin-left: 50px;
    background-color: grey;
    height: 250px;
    width: 345px;
}
#content{
    padding: 15px;
    clear: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#head2{
    width: 100px;
    font-size: 25px;
    background-color: red;
    float: right;
    padding: 2px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
}
#Box2{
    margin-top: 50px;
    border: 5px solid black;
    margin-left: 50px;
    background-color: grey;
    height: 250px;
    width: 345px;
}
#content2{
    padding: 15px;
    clear: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#head3{
    width: 100px;
    font-size: 25px;
    background-color: red;
    float: right;
    padding: 2px;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    display: flex;
    justify-content: center;
}
#Box3{
    margin-top: 50px;
    border: 5px solid black;
    margin-left: 50px;
    background-color: grey;
    height: 250px;
    width: 345px;
}
#content3{
    padding: 15px;
    clear: right;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

}